#box1 {
    background-color: cornflowerblue;
    padding: 30px;
    border: 20px solid royalblue;
    margin: 10px;
}

#box2 {
    background-color: rosybrown;
    padding: 30px;
    border: 20px solid saddlebrown;
    margin: 10px;
}

.wrappr {
    display: flex;
    flex-direction:row;
}